@media (min-width: 601px) {
  body {
    width: 600px;
    margin: 8px auto;
  }
}

input:user-invalid { border: 2px solid red; }

/* array of checkboxes */
.invalid { outline: 2px solid red; }

.cols-fr1fr3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-end;
  gap: 5px;
  margin-top: 1em;
}

form > fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.hidden { display: none; }

.meta span:nth-child(even) { font-family: monospace; }

.textarea {
  display: flex;
  flex-direction: column;
}
